[submodule "cdslab_users_api"]
	path = cdslab_users_api
	url = https://github.com/fenfisdi/cdslab_users_api.git
[submodule "cdslab_file_api"]
	path = cdslab_file_api
    url = https://github.com/fenfisdi/cdslab_file_api.git
[submodule "cdslab_auth"]
	path = cdslab_auth
	url = https://github.com/fenfisdi/cdslab_auth.git
[submodule "cdslab_management"]
	path = cdslab_management
	url = https://github.com/fenfisdi/cdslab_management.git
[submodule "cdslab_cmodels_api"]
	path = cdslab_cmodels_api
	url = https://github.com/fenfisdi/cdslab_cmodels_api.git
[submodule "cdslab"]
	path = cdslab
	url = https://github.com/fenfisdi/cdslab.git
[submodule "cdslib_agents"]
	path = cdslib_agents
	url = https://github.com/fenfisdi/cdslib_agents.git
[submodule "cdslib_cmodels"]
	path = cdslib_cmodels
	url = https://github.com/fenfisdi/cdslib_cmodels.git
