[submodule "cdslab_users_api"]
	path = cdslab_users_api
	url = https://github.com/fenfisdi/cdslab_users_api.git
[submodule "cdslab_file_api"]
	path = cdslab_file_api
    url = https://github.com/fenfisdi/cdslab_file_api.git
[submodule "cdslab_auth"]
	path = cdslab_auth
	url = https://github.com/fenfisdi/cdslab_auth.git
[submodule "cdslab_management"]
	path = cdslab_management
	url = https://github.com/fenfisdi/cdslab_management.git
[submodule "cdslab_cmodels_api"]
	path = cdslab_cmodels_api
	url = https://github.com/fenfisdi/cdslab_cmodels_api.git
[submodule "cdslib_agents"]
	path = cdslib_agents
	url = https://github.com/fenfisdi/cdslib_agents.git
[submodule "dinjo"]
	path = dinjo
	url = https://github.com/fenfisdi/dinjo.git
[submodule "cdslab_webpage"]
	path = cdslab_webpage
	url = https://github.com/fenfisdi/cdslab_webpage.git
[submodule "cdslab_error_log"]
	path = cdslab_error_log
	url = https://github.com/fenfisdi/cdslab_error_log.git
[submodule "cdslab_agents_simulation_api"]
	path = cdslab_agents_simulation_api
	url = https://github.com/fenfisdi/cdslab_agents_simulation_api.git
[submodule "cdslab_api_cloud"]
	path = cdslab_api_cloud
	url = https://github.com/fenfisdi/cdslab_api_cloud.git
[submodule "cdslab_agents_config_api"]
	path = cdslab_agents_config_api
	url = https://github.com/fenfisdi/cdslab_agents_config_api.git
